@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* sizes */
/* font */
h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
  font-family: "Poppis", sans-serif;
}

h3 {
  font-size: 2.5rem;
  font-family: "Poppis", sans-serif;
  color: #371406;
}

h4 {
  font-size: 1.5rem;
  font-family: "Poppis", sans-serif;
  color: #371406;
}

p {
  font-size: 1.05em;
  font-family: "Poppis", sans-serif;
}

a {
  font-size: 1.2em;
  cursor: url("img/pointer.png"), pointer;
  font-family: "Poppis", sans-serif;
}

button {
  cursor: url("img/pointer.png"), pointer;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4d1d0a;
}

::-webkit-scrollbar-thumb {
  background-color: #371406;
  border-radius: 12px;
}

hr {
  width: 80px;
  height: 4px;
  border-radius: 12px;
  background-color: #946926;
  border: none;
}

::-moz-selection {
  background-color: #579af2;
  color: ghostwhite;
}

::selection {
  background-color: #579af2;
  color: ghostwhite;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppis", sans-serif;
}
html body header {
  width: 100%;
  position: fixed;
  z-index: 9999999;
}
html body header .abrirMenu,
html body header .fecharMenu {
  display: none;
}
html body header .one {
  width: 100dvw;
  height: 5.5dvh;
  background: linear-gradient(90deg, #9e675f -9.62%, #371406 101.5%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1500px;
}
html body header .one .info01 {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body header .one .info01 .card {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* for all social containers*/
  /* instagram*/
  /* Whatsapp*/
  /* facebook*/
}
html body header .one .info01 .card .socialContainer {
  width: 35px;
  height: 35px;
  background-color: #9e675f;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}
html body header .one .info01 .card .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
html body header .one .info01 .card .containerTwo:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
html body header .one .info01 .card .containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
html body header .one .info01 .card .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
html body header .one .info01 .card .socialSvg {
  width: 17px;
}
html body header .one .info01 .card .socialSvg path {
  fill: rgb(255, 255, 255);
}
html body header .one .info01 .card .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
html body header .one .info02 {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body header .one .info02 a svg {
  width: 25px;
  height: 25px;
  transition: 0.5s;
}
html body header .one .info02 a svg:hover {
  transform: scale(1.08);
}
html body header .site {
  width: 100dvw;
  height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  gap: 600px;
}
html body header .site .logoHeader a img {
  width: 70px;
  height: 70px;
  transition: 0.3s;
}
html body header .site .logoHeader a img:hover {
  transform: scale(1.08);
}
html body header .site nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
html body header .site nav ul li {
  font-family: "Poppis", sans-serif;
  transition: 0.5s;
}
html body header .site nav ul li a {
  color: #371406;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
  text-decoration: none;
}
html body header .site nav ul li a:hover {
  color: #181818;
}
html body header .site nav ul li a.ativo {
  color: #181818;
}
html body header .site nav ul li a::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 0;
  height: 2px;
  border-radius: 100px;
  opacity: 1;
  transition: all 0.5s;
  background-color: #946926;
}
html body header .site nav ul li a.ativo::after {
  width: 70%;
  color: #946926;
}
html body header .site nav ul li a:hover::after {
  width: 100%;
}
html body header .site nav li:hover {
  transform: scale(1.1);
}
html body header .site .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body header .site .icons svg {
  width: 40px;
  height: 40px;
  border: 1px solid #371406;
  padding: 5px;
  border-radius: 25px;
  margin-right: 20px;
  transition: 0.5s;
}
html body header .site .icons svg:hover {
  transform: scale(1.08);
}
html body header.scroll .one {
  display: none;
}
html body header.scroll .site {
  width: 100dvw;
  height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  gap: 600px;
}
html body header.scroll .site .logoHeader a img {
  width: 70px;
  height: 70px;
  transition: 0.3s;
}
html body header.scroll .site .logoHeader a img:hover {
  transform: scale(1.08);
}
html body header.scroll .site nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
html body header.scroll .site nav ul li {
  font-family: "Poppis", sans-serif;
  transition: 0.5s;
}
html body header.scroll .site nav ul li a {
  color: #371406;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
  text-decoration: none;
}
html body header.scroll .site nav ul li a:hover {
  color: #181818;
}
html body header.scroll .site nav ul li a.ativo {
  color: #181818;
}
html body header.scroll .site nav ul li a::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 0;
  height: 2px;
  border-radius: 100px;
  opacity: 1;
  transition: all 0.5s;
  background-color: #946926;
}
html body header.scroll .site nav ul li a.ativo::after {
  width: 70%;
  color: #946926;
}
html body header.scroll .site nav ul li a:hover::after {
  width: 100%;
}
html body header.scroll .site nav li:hover {
  transform: scale(1.1);
}
html body header.scroll .site .icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body header.scroll .site .icons svg {
  width: 40px;
  height: 40px;
  border: 1px solid #371406;
  padding: 5px;
  border-radius: 25px;
  margin-right: 20px;
  transition: 0.5s;
}
html body header.scroll .site .icons svg:hover {
  transform: scale(1.08);
}
html body main #banner {
  height: 100dvh;
  width: 100%;
  background-image: url("../img/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100dvw !important;
}
html body main #banner .home-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
html body main #banner .home-container article {
  width: 55%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start !important;
  margin-left: 6%;
}
html body main #banner .home-container article img {
  margin-left: 10%;
}
html body main #banner .home-container article h2 {
  width: 100%;
  font-size: 8em;
  letter-spacing: -7px;
  font-weight: 800;
  background: linear-gradient(90deg, #9e675f -9.62%, #371406 101.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html body main #banner .home-container article h3 {
  width: 900px;
  letter-spacing: -2px;
  font-size: 4em;
  font-weight: 800;
}
html body main #banner .home-container article p {
  color: #b3b3b3;
  font-size: 2em;
}
html body main #banner .home-container article .buttons-home {
  width: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start !important;
  margin-top: 2%;
}
html body main #banner .home-container article .buttons-home button {
  position: relative;
  padding: 12px 35px;
  background: #371406;
  font-size: 17px;
  font-weight: 500;
  color: white;
  border: 3px solid #371406;
  border-radius: 8px;
  box-shadow: 0 0 0 rgba(116, 48, 0, 0.5490196078);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
html body main #banner .home-container article .buttons-home .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
html body main #banner .home-container article .buttons-home .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #banner .home-container article .buttons-home .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #banner .home-container article .buttons-home .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #banner .home-container article .buttons-home .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.4s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #banner .home-container article .buttons-home .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.8s ease;
}
html body main #banner .home-container article .buttons-home button:hover {
  background: transparent;
  color: #371406;
  box-shadow: 0 0 25px rgba(121, 50, 0, 0.5490196078);
}
html body main #banner .home-container article .buttons-home button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #banner .home-container article .buttons-home button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #banner .home-container article .buttons-home button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #banner .home-container article .buttons-home button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #banner .home-container article .buttons-home button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #banner .home-container article .buttons-home button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #banner .home-container article .buttons-home .fil0 {
  fill: #371406;
}
html body main #banner .home-container figure {
  width: 35%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #f2e0db 1.57%, #fff 128.95%);
  border-radius: 120px 0px 0px 120px;
}
html body main #banner .home-container figure img {
  width: 130%;
  height: auto;
  margin: -10% 0% 0% -30%;
  transform: scale(2);
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 25px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
html body main #banner-title {
  max-width: 100dvw;
  height: 20dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body main #banner-title .home-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
html body main #banner-title .home-container .info-coffe {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
html body main #banner-title .home-container .info-coffe ul {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
}
html body main #banner-title .home-container .info-coffe ul:nth-child(1) {
  border-right: 1px solid #371406;
  margin-right: 2%;
}
html body main #banner-title .home-container .info-coffe ul li {
  width: 100%;
}
html body main #banner-title .home-container .info-coffe ul li h5 {
  font-size: 1.6em;
  letter-spacing: 1px;
  color: #946926;
}
html body main #banner-title .home-container .info-coffe ul li h4 {
  font-size: 2em;
}
html body main #banner-title .home-container .img-coffe {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
html body main #banner-title .home-container .img-coffe figure:nth-child(1) {
  margin-top: -30%;
  margin-left: -60%;
}
html body main #banner-title .home-container .img-coffe figure:nth-child(2) {
  margin-top: -15%;
}
html body main #banner-title .home-container .img-coffe figure:nth-child(2) img {
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
html body main #banner-title .home-container .avaliacao-coffe {
  width: 20%;
  height: 40%;
  margin-top: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
html body main #banner-title .home-container .avaliacao-coffe ul {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}
html body main #banner-title .home-container .avaliacao-coffe ul li .star {
  animation: blink 1.5s infinite;
  font-size: 1.6em;
  color: goldenrod;
}
@keyframes blink {
  0%, 100% {
    color: rgb(185, 140, 25);
  }
  50% {
    color: gold;
  }
}
html body main #banner-title .home-container .avaliacao-coffe ul li .star:nth-child(2) {
  animation-delay: 0.9s;
}
html body main #banner-title .home-container .avaliacao-coffe ul li .star:nth-child(3) {
  animation-delay: 1.2s;
}
html body main #banner-title .home-container .avaliacao-coffe ul li .star:nth-child(4) {
  animation-delay: 1.5s;
}
html body main #banner-title .home-container .avaliacao-coffe ul li .star:nth-child(5) {
  animation-delay: 1.8s;
}
html body main #banner-title .home-container .avaliacao-coffe ul li h4 {
  color: rgba(176, 176, 176, 0.9803921569);
  font-size: 2em;
}
html body main #banner-title .home-container .avaliacao-coffe ul li h4 span {
  color: #371406;
}
html body main #banner-title .home-container .avaliacao-coffe ul li h5 {
  color: rgba(176, 176, 176, 0.9803921569);
  font-size: 1.3em;
}
html body main #banner-title .home-container .avaliacao-coffe .avaliacoes-perfil {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  border-radius: 60px;
  background: linear-gradient(to left, #f2e0db 1.57%, #fff 128.95%);
}
html body main #sobre {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 5%;
}
html body main #sobre .sobreLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
html body main #sobre .sobreLeft h2 {
  font-weight: bold;
  color: #371406;
}
html body main #sobre .sobreLeft p {
  font-size: 1.5em;
  color: #b3b3b3;
}
html body main #sobre .sobreLeft img {
  width: 600px;
  height: 700px;
  border-radius: 10%;
}
html body main #sobre .sobreRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
html body main #sobre .sobreRight img {
  width: 600px;
  height: 700px;
  border-radius: 10%;
}
html body main #sobre .sobreRight h3 {
  font-weight: bold;
  color: #946926;
}
html body main #sobre .sobreRight p {
  font-size: 1.5em;
  color: #b3b3b3;
}
html body main #sobre .sobrePosition {
  position: absolute;
}
html body main #sobre .sobrePosition .imgOne {
  position: absolute;
  top: 300px;
  left: -710px;
}
html body main #sobre .sobrePosition .imgTwo {
  position: absolute;
  top: -520px;
  left: -60px;
}
html body main #produtosEmDestaque {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
}
html body main #produtosEmDestaque .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 3%;
}
html body main #produtosEmDestaque .title h2 {
  font-weight: 900;
  color: #371406;
  width: 36%;
}
html body main #produtosEmDestaque .title h2 span {
  color: #946926;
}
html body main #produtosEmDestaque .title img {
  width: auto;
  height: 120px;
  transform: rotate(-20deg);
}
html body main #produtosEmDestaque .title p {
  color: #b3b3b3;
  font-size: 1.5em;
  width: 700px;
}
html body main #produtosEmDestaque .produtosCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
html body main #produtosEmDestaque .produtosCont .produtosItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
html body main #produtosEmDestaque .produtosCont .produtosItems a:hover .produtosContItems {
  background: linear-gradient(to left, #f2e0db 1.57%, #fff 128.95%);
}
html body main #produtosEmDestaque .produtosCont .produtosItems .produtosContItems {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 450px;
  height: 160px;
  border-radius: 25px;
  border: 1px solid #b3b3b3;
  padding: 1.5%;
}
html body main #produtosEmDestaque .produtosCont .produtosItems .produtosContItems .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
html body main #produtosEmDestaque .produtosCont .produtosItems .produtosContItems .info h3 {
  color: #371406;
  font-size: 1.5em;
  font-weight: 900;
}
html body main #produtosEmDestaque .produtosCont .produtosItems .produtosContItems .info p {
  color: #b3b3b3;
  font-size: 1.3em;
}
html body main #produtosEmDestaque .produtosCont .produtosItems .produtosContItems .info h4 {
  font-weight: 900;
  color: #946926;
}
html body main #produtosEmDestaque .produtosCont .produtosItems .produtosContItems .info h4 span {
  color: #b3b3b3;
  text-decoration: line-through;
}
html body main #produtosEmDestaque .produtosCont .produtosPosition {
  position: absolute;
}
html body main #produtosEmDestaque .produtosCont .produtosPosition img {
  position: absolute;
  top: 200px;
  left: 780px;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
html body main #graos {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1400px !important;
  height: 400px;
  justify-content: space-around;
  margin-top: 7%;
  background: linear-gradient(to left, #f2e0db 1.57%, #fff 128.95%);
  border-radius: 50px;
}
html body main #graos .graosTitle h3 {
  font-weight: 900;
  color: #371406;
  width: 600px;
  letter-spacing: -2.5px;
}
html body main #graos .graosTitle h3 span {
  color: #946926;
}
html body main #graos .graosTitle .buttons-home {
  width: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start !important;
  margin-top: 2%;
}
html body main #graos .graosTitle .buttons-home button {
  position: relative;
  padding: 12px 35px;
  background: #371406;
  font-size: 17px;
  font-weight: 900;
  color: white;
  border: 3px solid #371406;
  border-radius: 10px;
  box-shadow: 0 0 0 rgba(116, 48, 0, 0.5490196078);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
html body main #graos .graosTitle .buttons-home .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
html body main #graos .graosTitle .buttons-home .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #graos .graosTitle .buttons-home .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #graos .graosTitle .buttons-home .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #graos .graosTitle .buttons-home .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #graos .graosTitle .buttons-home .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.8s ease;
}
html body main #graos .graosTitle .buttons-home button:hover {
  background: transparent;
  color: #371406;
  box-shadow: 0 0 25px rgba(121, 50, 0, 0.5490196078);
}
html body main #graos .graosTitle .buttons-home button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #graos .graosTitle .buttons-home button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #graos .graosTitle .buttons-home button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #graos .graosTitle .buttons-home button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #graos .graosTitle .buttons-home button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #graos .graosTitle .buttons-home button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #graos .graosTitle .buttons-home .fil0 {
  fill: #371406;
}
html body main #graos .seta {
  position: absolute;
  top: 3100px;
  left: 850px;
  z-index: 999;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
html body main #graos .grao {
  width: 460px;
  height: auto;
}
html body main #itemsEspecial {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  gap: 50px;
  overflow: hidden;
  max-width: 100dvw;
}
html body main #itemsEspecial .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
html body main #itemsEspecial .title h2 {
  color: #371406;
  font-weight: 900;
}
html body main #itemsEspecial .title h2 span {
  color: #946926;
}
html body main #itemsEspecial .title p {
  text-align: center;
  font-size: 1.3em;
  width: 860px;
  color: #b3b3b3;
}
html body main #itemsEspecial .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100dvw;
}
html body main #itemsEspecial .carousel .carouselItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
html body main #itemsEspecial .carousel .carouselItems .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 370px;
  background: linear-gradient(to top, #f2e0db 1.57%, #fff 128.95%);
  border-radius: 25px;
}
html body main #itemsEspecial .carousel .carouselItems ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}
html body main #itemsEspecial .carousel .carouselItems ul li .star {
  animation: blink 1.5s infinite;
  font-size: 1.6em;
  color: goldenrod;
}
@keyframes blink {
  0%, 100% {
    color: rgb(185, 140, 25);
  }
  50% {
    color: gold;
  }
}
html body main #itemsEspecial .carousel .carouselItems ul li .star:nth-child(2) {
  animation-delay: 0.9s;
}
html body main #itemsEspecial .carousel .carouselItems ul li .star:nth-child(3) {
  animation-delay: 1.2s;
}
html body main #itemsEspecial .carousel .carouselItems ul li .star:nth-child(4) {
  animation-delay: 1.5s;
}
html body main #itemsEspecial .carousel .carouselItems ul li .star:nth-child(5) {
  animation-delay: 1.8s;
}
html body main #itemsEspecial .carousel .carouselItems h3 {
  font-weight: 900;
  font-size: 2em;
}
html body main #itemsEspecial .carousel .carouselItems h4 {
  font-weight: 900;
  color: #000000;
}
html body main #itemsEspecial .carousel .carouselItems h4 span {
  color: #b3b3b3;
  text-decoration: line-through;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home button {
  position: relative;
  padding: 12px 35px;
  background: #371406;
  font-size: 17px;
  font-weight: 900;
  color: white;
  border: 3px solid #371406;
  border-radius: 8px;
  box-shadow: 0 0 0 rgba(116, 48, 0, 0.5490196078);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home button svg {
  width: 25px;
  height: auto;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.8s ease;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home button:hover {
  background: transparent;
  color: #371406;
  box-shadow: 0 0 25px rgba(121, 50, 0, 0.5490196078);
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #itemsEspecial .carousel .carouselItems .buttons-home .fil0 {
  fill: #371406;
}
html body main #itemsEspecial .itemsEspecialPosition {
  position: absolute;
}
html body main #itemsEspecial .itemsEspecialPosition .grao {
  position: absolute;
  top: -320px;
  left: -800px;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
html body main #itemsEspecial .itemsEspecialPosition .cup {
  position: absolute;
  top: 420px;
  left: 780px;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
html body main #avaliacao {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100dvw !important;
  overflow: hidden;
  margin-top: 5%;
  gap: 50px;
}
html body main #avaliacao .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
html body main #avaliacao .title h2 {
  color: #371406;
  font-weight: 900;
}
html body main #avaliacao .title h2 span {
  color: #946926;
}
html body main #avaliacao .title p {
  text-align: center;
  font-size: 1.3em;
  width: 830px;
  color: #b3b3b3;
}
html body main #avaliacao .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100dvw;
  margin-left: 3%;
}
html body main #avaliacao .carousel .carouselCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 570px;
}
html body main #avaliacao .carousel .carouselCont .img {
  background-image: url(../img/aroma_joe.jpg);
  background-repeat: no-repeat;
  width: 430px;
  height: 425px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10%;
  transition: 0.1s;
}
html body main #avaliacao .carousel .carouselCont .img .imgItems {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 400px;
  height: 410px;
  transform: rotate(-5deg);
  background: #000000;
  padding: 5%;
  border-radius: 25px;
  position: absolute;
  top: 4750px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
  position: static;
}
html body main #avaliacao .carousel .carouselCont .img .imgItems ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
html body main #avaliacao .carousel .carouselCont .img .imgItems ul li .star {
  animation: blink 1.5s infinite;
  font-size: 1.6em;
  color: goldenrod;
}
@keyframes blink {
  0%, 100% {
    color: rgb(185, 140, 25);
  }
  50% {
    color: gold;
  }
}
html body main #avaliacao .carousel .carouselCont .img .imgItems ul li .star:nth-child(2) {
  animation-delay: 0.9s;
}
html body main #avaliacao .carousel .carouselCont .img .imgItems ul li .star:nth-child(3) {
  animation-delay: 1.2s;
}
html body main #avaliacao .carousel .carouselCont .img .imgItems ul li .star:nth-child(4) {
  animation-delay: 1.5s;
}
html body main #avaliacao .carousel .carouselCont .img .imgItems ul li .star:nth-child(5) {
  animation-delay: 1.8s;
}
html body main #avaliacao .carousel .carouselCont .img .imgItems P {
  font-size: 1.3em;
  color: #b3b3b3;
  margin: 10% 0% 18% 0%;
}
html body main #avaliacao .carousel .carouselCont .img .imgItems h3 {
  font-weight: 900;
  color: white;
  font-size: 1.8em;
}
html body main #avaliacao .carousel .carouselCont .img .imgItems h4 {
  color: #b3b3b3;
  font-size: 1.2em;
}
html body main #avaliacao .carousel .carouselCont .img:hover .imgItems {
  opacity: 1;
  visibility: visible;
}
html body main #avaliacao .carousel .carouselCont .img:hover:hover ~ .carouselItems {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
html body main #avaliacao .carousel .carouselCont .carouselItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  opacity: 1;
  visibility: visible;
}
html body main #avaliacao .carousel .carouselCont .carouselItems ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
html body main #avaliacao .carousel .carouselCont .carouselItems ul li .star {
  animation: blink 1.5s infinite;
  font-size: 1.6em;
  color: goldenrod;
}
@keyframes blink {
  0%, 100% {
    color: rgb(185, 140, 25);
  }
  50% {
    color: gold;
  }
}
html body main #avaliacao .carousel .carouselCont .carouselItems ul li .star:nth-child(2) {
  animation-delay: 0.9s;
}
html body main #avaliacao .carousel .carouselCont .carouselItems ul li .star:nth-child(3) {
  animation-delay: 1.2s;
}
html body main #avaliacao .carousel .carouselCont .carouselItems ul li .star:nth-child(4) {
  animation-delay: 1.5s;
}
html body main #avaliacao .carousel .carouselCont .carouselItems ul li .star:nth-child(5) {
  animation-delay: 1.8s;
}
html body main #avaliacao .carousel .carouselCont .carouselItems h3 {
  font-weight: 900;
  color: #000000;
  font-size: 1.8em;
  margin-bottom: 5%;
}
html body main #avaliacao .carousel .carouselCont .carouselItems h4 {
  color: #b3b3b3;
  font-size: 1.2em;
}
html body main #qualidade {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100dvw !important;
  background: linear-gradient(to left, #f2e0db 1.57%, #fff 128.95%);
  gap: 70px;
  margin-top: 5%;
}
html body main #qualidade .qualidadeCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
html body main #qualidade .qualidadeCont .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
html body main #qualidade .qualidadeCont .title h2 {
  font-weight: 900;
  color: #371406;
  letter-spacing: -2px;
}
html body main #qualidade .qualidadeCont .title h2 span {
  color: #946926;
}
html body main #qualidade .qualidadeCont .title p {
  color: #b3b3b3;
  font-size: 1.3em;
  margin-top: 2%;
}
html body main #qualidade .qualidadeCont .qualidadeItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
html body main #qualidade .qualidadeCont .qualidadeItems .qualidadeContItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
html body main #qualidade .qualidadeCont .qualidadeItems .qualidadeContItems .itemsQualidade {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  height: 120px;
  gap: 20px;
}
html body main #qualidade .qualidadeCont .qualidadeItems .qualidadeContItems .itemsQualidade img {
  width: 70px;
  height: auto;
  background: #9e675f;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
html body main #qualidade .qualidadeCont .qualidadeItems .qualidadeContItems .itemsQualidade div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
html body main #qualidade .qualidadeCont .qualidadeItems .qualidadeContItems .itemsQualidade div h4 {
  font-weight: 900;
  color: #371406;
  width: 420px;
}
html body main #qualidade .qualidadeCont .qualidadeItems .qualidadeContItems .itemsQualidade div p {
  color: #b3b3b3;
  font-size: 1.3em;
  width: 380px;
}
html body main #blog {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 5%;
}
html body main #blog .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
html body main #blog .title h2 {
  font-weight: 900;
  color: #371406;
  letter-spacing: -2px;
}
html body main #blog .title h2 span {
  color: #946926;
}
html body main #blog .title p {
  color: #b3b3b3;
  font-size: 1.3em;
  margin-top: 2%;
  text-align: center;
  width: 800px;
}
html body main #blog .blogContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
html body main #blog .blogContainer .blogCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(to top, #f2e0db 1.57%, #fff 128.95%);
  border-radius: 40px;
  padding: 0.5%;
}
html body main #blog .blogContainer .blogCont .img {
  overflow: hidden;
  position: relative;
}
html body main #blog .blogContainer .blogCont .img img {
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}
html body main #blog .blogContainer .blogCont .blogItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
html body main #blog .blogContainer .blogCont .blogItems .blogItemsCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
html body main #blog .blogContainer .blogCont .blogItems .blogItemsCont svg {
  width: 20px;
  height: auto;
}
html body main #blog .blogContainer .blogCont .blogItems .blogItemsCont p {
  color: #b3b3b3;
  font-size: 1.3em;
}
html body main #blog .blogContainer .blogCont .blogItems .blogItemsCont hr {
  transform: rotate(90deg);
  width: 30px;
  height: 0.5px;
  border-radius: 0px;
  opacity: 1;
  background: #b3b3b3;
}
html body main #blog .blogContainer .blogCont .blogItems .blogTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
html body main #blog .blogContainer .blogCont .blogItems .blogTitle h4 {
  font-weight: 900;
  color: #000000;
  width: 400px;
}
html body main #blog .blogContainer .blogCont .blogItems .blogTitle p {
  color: #b3b3b3;
  font-size: 1.3em;
  width: 400px;
}
html body main #blog .blogContainer .blogCont .blogItems .blogTitle a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1em;
  color: #946926;
  font-weight: 900;
}
html body main #blog .blogContainer .blogCont .blogItems .blogTitle a span {
  font-size: 1.5em;
  transition: transform 0.5s ease;
}
html body main #blog .blogContainer .blogCont:hover {
  cursor: pointer;
}
html body main #blog .blogContainer .blogCont:hover .img img {
  transform: scale(1.1);
}
html body main #blog .blogContainer .blogCont:hover span {
  transform: rotate(-25deg);
}
html body main #blog .blogPosition {
  position: absolute;
}
html body main #blog .blogPosition .grao {
  position: absolute;
  top: -360px;
  left: -800px;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
html body main #blog .blogPosition .cup {
  position: absolute;
  top: 430px;
  left: 780px;
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
html body main #desconto {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1400px !important;
  gap: 10px;
  overflow: hidden;
  height: 450px;
  gap: 130px;
  background: linear-gradient(to left, #f2e0db 1.57%, #fff 128.95%);
  border-radius: 70px;
  margin-top: 5%;
}
html body main #desconto img {
  width: 100%;
  height: auto;
}
html body main #desconto .coffee {
  margin-left: 18%;
}
html body main #desconto .emailCont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-right: -5%;
}
html body main #desconto .emailCont .emailTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
html body main #desconto .emailCont .emailTitle h2 {
  color: #371406;
  font-weight: 900;
  width: 810px;
  letter-spacing: -2px;
}
html body main #desconto .emailCont .emailTitle h2 span {
  color: #946926;
}
html body main #desconto .emailCont .emailTitle p {
  font-size: 1.4em;
  color: #000000;
}
html body main #desconto .emailCont .emailItems {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body main #desconto .emailCont .emailItems form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}
html body main #desconto .emailCont .emailItems form .email {
  width: 430px;
  height: 60px;
  border-radius: 50px;
  padding: 2.5% 0% 2% 4%;
  background: #9e675f;
  border: none;
  margin: 0%;
}
html body main #desconto .emailCont .emailItems form .email::-moz-placeholder {
  font-family: "Poppis", sans-serif;
  font-size: 1.5em;
  color: white;
  font-weight: 900;
}
html body main #desconto .emailCont .emailItems form .email::placeholder {
  font-family: "Poppis", sans-serif;
  font-size: 1.5em;
  color: white;
  font-weight: 900;
}
html body main #desconto .emailCont .emailItems form .buttons-home button {
  position: relative;
  padding: 12px 45px;
  background: #371406;
  font-size: 1.3em;
  font-weight: 900;
  color: white;
  border: 3px solid #371406;
  border-radius: 25px;
  box-shadow: 0 0 0 rgba(116, 48, 0, 0.5490196078);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
html body main #desconto .emailCont .emailItems form .buttons-home .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
html body main #desconto .emailCont .emailItems form .buttons-home .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #desconto .emailCont .emailItems form .buttons-home .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #desconto .emailCont .emailItems form .buttons-home .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #desconto .emailCont .emailItems form .buttons-home .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.4s cubic-bezier(0, 0.4, 0, 1.01);
}
html body main #desconto .emailCont .emailItems form .buttons-home .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #371406);
  z-index: -5;
  transition: all 0.8s ease;
}
html body main #desconto .emailCont .emailItems form .buttons-home button:hover {
  background: transparent;
  color: #371406;
  box-shadow: 0 0 25px rgba(121, 50, 0, 0.5490196078);
}
html body main #desconto .emailCont .emailItems form .buttons-home button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #desconto .emailCont .emailItems form .buttons-home button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #desconto .emailCont .emailItems form .buttons-home button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #desconto .emailCont .emailItems form .buttons-home button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #desconto .emailCont .emailItems form .buttons-home button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #desconto .emailCont .emailItems form .buttons-home button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #371406);
  z-index: 2;
}
html body main #desconto .emailCont .emailItems form .buttons-home .fil0 {
  fill: #371406;
}
html body .footer {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  background: linear-gradient(to top, #f2e0db 1.57%, #fff 128.95%);
}
html body .footer .footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-around;
}
html body .footer .footer-container .footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
html body .footer .footer-container .footer-logo h3 {
  font-size: 1.3em;
  width: 400px;
  color: #b3b3b3;
}
html body .footer .footer-container .footer-logo img {
  width: 250px;
  height: 80px;
  margin-bottom: 20px;
}
html body .footer .footer-container .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
}
html body .footer .footer-container .footer-links .footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
html body .footer .footer-container .footer-links .footer-section h4 {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: -1px;
  color: #371406;
}
html body .footer .footer-container .footer-links .footer-section a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 1.3em;
}
html body .footer .footer-container .footer-links .footer-section a span {
  color: #371406;
}
html body .footer .footer-container .footer-links .footer-section a:hover {
  color: #371406;
}
html body .footer .footer-container .footer-links .footer-section .card {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* for all social containers*/
  /* instagram*/
  /* Whatsapp*/
  /* facebook*/
}
html body .footer .footer-container .footer-links .footer-section .card .socialContainer {
  width: 35px;
  height: 35px;
  background-color: #946926;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}
html body .footer .footer-container .footer-links .footer-section .card .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
html body .footer .footer-container .footer-links .footer-section .card .containerTwo:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
html body .footer .footer-container .footer-links .footer-section .card .containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
html body .footer .footer-container .footer-links .footer-section .card .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}
html body .footer .footer-container .footer-links .footer-section .card .socialSvg {
  width: 17px;
}
html body .footer .footer-container .footer-links .footer-section .card .socialSvg path {
  fill: rgb(255, 255, 255);
}
html body .footer .footer-container .footer-links .footer-section .card .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
html body .footer .footer-final {
  width: 90%;
  border-top: 0.5px solid #371406;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
html body .footer .paragrafo {
  color: rgb(150, 150, 150);
  font-size: 20px;
}
html body .footer .paragrafo span {
  color: #371406;
}/*# sourceMappingURL=style.css.map */